<div *ngIf="clients.length > 0">
  <h1>Liste des Clients:</h1>
  <table>
    <thead>
      <tr>
        <th>code client</th>
        <th>nom</th>
        <th>Prénom</th>
        <th>Numero</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Client of clients">
        <td>{{ Client.code }}</td>
        <td>{{ Client.name }}</td>
        <td>{{ Client.lastname }}</td>
        <td>{{ Client.phone }}</td>
        <td>{{ Client.email}}</td>
        <td>
          <div class="buttns">
            <button class="Btn2" (click)="deleteClient(Client.code)">
              <svg class="svg2" viewBox="0 0  24 24">
                <path
                  d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z">
                </path>
              </svg>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
